packages:  
  yum:
    gcc-c++: []
    python34-devel: []
    blas-devel: []
    lapack-devel: []
    atlas.x86_64: []
container_commands:  
  AddGlobalWSGIGroupAccess: 
    command: "if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf ; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;"