body {
    background-color:#DE3A28;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.header-title {
    color: #ffffff;
    text-align: center;
    margin-top: 30px !important;
}

.override-margins {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}

.results {
    margin-top: 25px !important;
}
.horizontal-centre { 
    margin: 0 auto;
}

.centre {
    position: absolute !important;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.partial-width {
    width: 70%;
    max-width: 500px;
    min-width: 350px;
}
