body {
    background-color:#DE3A28;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width:100%; 
}

.header-title {
    color: #ffffff;
    text-align: center;
}

.override-margins {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}

.horizontal-centre { 
    margin: 0 auto;
}

.partial-width {
    max-width: 600px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-device-width: 430px) {   
    .search-pos {
        position: absolute !important;
        left: 50%;
        top: unset !important;
        display: inline-block;
        margin-top: 50px;
    }
} 

.search-pos {
    position: absolute !important;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
}

.top-search-pos {
    left: 50%;
    top: unset !important;
    display: inline-block;
    margin-top: 50px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80% !important;
    max-width: 750px !important;
}

.card-pos {
    z-index: -1000;
    margin: -20 auto !important;
    width: 80% !important;
    max-width: 750px !important;
}

.meta {
    margin-top: 5px;
}

canvas {
    display:block;
    position: fixed;
    z-index: -10;
}