<meta charset="utf-8" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}"/>
<link media="all" rel="stylesheet" href="{{ url_for('static', filename='lib/semanticUI/semantic.min.css')}}"/>
<script src="{{ url_for('static', filename='lib/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='lib/particles.min.js')}}"></script>
<script src="{{ url_for('static', filename='lib/semanticUI/semantic.min.js')}}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="mobile-web-app-capable" content="yes">