<html>
    <head>   
        <title>Scholarly</title>
        {% include "header.html" %}
        <script src="{{ url_for('static', filename='js/index.js')}}"></script>
        <link href="{{ url_for('static', filename='css/index.css')}}" media="all" rel="stylesheet"/>
    </head>
    <body>
        <div id="particles-js">
            <div class="header-title horizontal-centre">
                <h1 class="override-margins">Scholarly</h1>
                <h4 class="override-margins">Semantic Search of Machine-Learning Literature</h4>
            </div>
            <div class="ui fluid category search search-pos">
                    <div class="ui icon input partial-width">
                        <input class="prompt" type="text" placeholder="Search by { ?author, ?paper, ?surname = ABC; }">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
            </div>
        </div>
    </body>
</html>
  