<html>

<head>
    <title>Scholarly</title>
    {% include "header.html" %}
    <script src="{{ url_for('static', filename='js/site.js')}}"></script>
</head>

<body>
    <div id="particles-js" width="100%" height="100%">
        <canvas class="particles-js-canvas" style="width: 100%; height: 100%;"></canvas>
    </div>
    <div class="header-title horizontal-centre">
        <h1 class="override-margins top-override-margins">Scholarly</h1>
        <h4 class="override-margins">Semantic Search of Machine-Learning Literature</h4>
    </div>
    <div class="ui fluid category search search-pos">
        <div class="ui icon input partial-width">
            <input class="prompt" type="text" placeholder="Search by { ?author, ?paper, ?surname = ABC; }">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
</body>

</html>