<html>
        
        <head>
            <title>Scholarly</title>
            {% include "header.html" %}
            <script src="{{ url_for('static', filename='js/author.js')}}"></script>
        </head>
        
        <body>
            <div id="particles-js" width="100%" height="100%">
                <canvas class="particles-js-canvas" style="width: 100%; height: 100%;"></canvas>
            </div>
            <!-- Return to Top -->
            <a href="javascript:" id="return-to-top"><i class="Chevron Up Icon"></i></a>
            <div class="ui fluid category search top-search-pos">
                <div class="ui icon input partial-width">
                    <input class="prompt" type="text" value="{{ title }}" placeholder="Search by { ?author, ?paper, ?surname = ABC; }">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
            <div class="ui raised card card-pos">
                <div class="content card-content">
                    <div class="header">{{ title }}</div>
                    <div class="meta">
                        <span class="category">{{ subtitle }}</span>
                    </div>
                    <div class="description">
                        <a href="{{ api_data[1] }}" class="ui label">
                            <i class="linkify icon"></i>
                            Open in Arxiv
                        </a>
                        <a href="{{ api_data[2] }}" class="ui label">
                            <i class="file pdf outline icon"></i>
                            Download PDF
                        </a>
                        <p> </p>
                        <p>{{ api_data[0] }}</p>
                    </div>
                </div>
                <div class="extra content extra-content-highlight">                                
                    <div class="ui styled fluid accordion">
                        <div class="title">
                            <i class="dropdown icon"></i> Authors
                        </div>
                        <div class="content">
                            <div class="ui very relaxed animated list">
                                {% for auth in authors %}
                                    <div class="item">
                                        <i class="student icon"></i>
                                        <div class="content">
                                            <div class="header"><a href="{{ auth[2] }}">{{auth[0]}}</a></div>
                                            <div class="description">{{auth[1]}} including: {{auth[3]}}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i> Related Papers
                        </div>
                        <div class="content">
                                <div class="ui very relaxed animated list">
                                        {% for paper in similar_papers %}
                                            <div class="item">
                                                <i class="file icon"></i>
                                                <div class="content">
                                                    <div class="header"><a href="{{ paper[0] }}">{{paper[1]}}</a> - Similarity: {{paper[3]}}</div>
                                                    <div class="description">{{paper[2]}}</div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                </div>
                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i> Paper Topics
                        </div>
                        <div class="content">
                                <p><b>Note:</b> these topics will not be perfect although it should reflect the underlying themes from the paper abstract</p>
                                <div class="ui very relaxed animated divided list">
                                        {% for topic in topics %}
                                            <div class="item">
                                                <i class="right triangle icon"></i>
                                                <div class="content">
                                                    <div class="header">Score: {{topic[0]}}</div>
                                                    <div class="description">{{topic[1]}}</div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
        
        </html>